.body{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: min-content auto min-content;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

.perfil{
    display: grid;
    row-gap: 16px;
    column-gap: 16px;
    grid-template-columns: min-content auto;
    grid-template-rows: auto;
    grid-template-areas:
        "foto descricao";
}

.perfil-inferior {
    display: grid;
    grid-template-columns: 1fr 2px 2fr; /* Transformando as seções em colunas horizontais */
    grid-template-rows: auto;
    grid-template-areas: 
        "habilidades divisorHorizontal experiencia";
    align-items: start; /* Alinha as seções no início verticalmente */
}

.habilidades {
    grid-area: habilidades;
    padding: 16px;
}

.divisorHorizontal {
    grid-area: divisorHorizontal;
    width: 2px; /* Largura do divisor vertical */
    height: 100%; /* Altura definida como 100% */
    align-self: stretch; /* Garante que o divisor ocupe toda a altura da célula */
    justify-self: center; /* Centraliza o divisor horizontalmente dentro da célula */
}

.experiencia {
    grid-area: experiencia;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
}

.layoutContagem{
    display: grid;
    row-gap: 16px;
    column-gap: 16px;
    grid-template-columns:auto min-content;
    grid-template-rows: auto;
}

.colegas{
    padding-left: 32px;
    padding-right: 32px;
}

.foto{
    grid-area: foto;
}

.descricao{
    grid-area: descricao;
}

.header{
    grid-area: header;
}

.main{
    padding-left: 48px;
    padding-right: 28px;
    grid-area: main;
}

.folha{
    border-radius: 0px 30px 30px 30px;
}

.footer{
    grid-area: footer;
}

.scrollColegas{
    min-width: min-content;
}

.colegasTrabalho{
    min-width: 220px;
    min-height: 220px;

    width: 220px;
    height: 220px;

    max-width: 220px;
    max-height: 220px;
}

@media only screen and (max-width: 900px) {
    .perfil-inferior {
        grid-template-columns: auto; /* Voltar ao layout vertical para telas pequenas */
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "habilidades"
            "divisorHorizontal"
            "experiencia";
    }

    .divisorHorizontal {
        width: 100%; /* Ocupa toda a largura no layout vertical */
        height: 2px; /* Transformar em divisor horizontal no layout vertical */
        align-self: center; /* Centraliza no layout vertical */
    }

    .main{
        padding-left: 0px;
        padding-right: 0px;
        grid-area: main;
    }

    .perfil{
        display: grid;
        row-gap: 16px;
        column-gap: 16px;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        grid-template-areas:
            "foto"
            "descricao";
    }

    .folha{
        border-radius: 0px;
    }

    .colegas{
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media only screen and (max-width: 600px) {    
    .layoutContagem{
        display: grid;
        row-gap: 16px;
        column-gap: 16px;
        grid-template-columns:auto;
        grid-template-rows: auto min-content;
    }
}